- if flash[:info].present?
  .alert.alert-info{style: 'margin-top: 15px;'}= flash[:info]
.jumbotron.text-center{style: 'overflow-wrap: break-word;'}
  = image_tag 'flag.png', height: '150', width: 'auto'
  %h1.display-4 Welcome to
  %h1.display-4 Hack the Flag

  %p.lead Welcome to a location based AR Game for indoor events

  %hr.my-4

  = form_with url: create_path do
    = submit_tag 'Start!', class: 'btn btn-primary btn-large'
