.jumbotron
  %h1.display-4 Welcome to Hack the Flag

  %p.lead Welcome to a location based AR Game for indoor events

  %hr.my-4

  = form_with url: create_path do
    = submit_tag 'Start!', class: 'btn btn-primary btn-large'
