// Action Cable provides the framework to deal with WebSockets in Rails.
// You can generate new channels where WebSocket features live using the `rails generate channel` command.
//
//= require action_cable
//= require_self
//= require_tree ./channels

(function() {
  this.App || (this.App = {});

  App.cable = ActionCable.createConsumer();

  currentState = null
  App.cable.subscriptions.create({ channel: "WaitForMacChannel" }, {
    received(data) {
      if (currentState == data.type) return
      currentState = data.type
      switch(data.type) {
        case 'MAC_FOUND': enableRedirectButton(data.url); break;
        case 'CHANGE_WIFI': changeWifiNetwork(data, this); break;
        case 'WIFI': wifiNetwork(data, this); break;
        case 'FLOOR': setFloor(data, this); break;
        case 'WAIT': setWait(); break;
      }
    }
  })
}).call(this);


function enableRedirectButton(url) {
  let content = document.querySelector('#content')
  let btn = document.createElement('button')

  content.innerHTML = '<h2>We found you!</h2>'
  content.appendChild(btn)
  btn.innerHTML = 'Join Game'
  btn.setAttribute('class', 'btn btn-primary')
  btn.addEventListener('click', function () {
    location.href = url
  })
}

function wifiNetwork({ userCount }, cable) {
  let wifis = ['eduroam', 'Junction', 'aalto open']
  let content = document.querySelector('#content')
  let btn = document.createElement('button')
  btn.setAttribute('class', 'btn btn-primary')
  btn.innerHTML = 'Send'
  addUserCount(content, userCount)

  content.innerHTML += '<p>Please select your current WIFI Network, so we have a better chance to find you</p>'
  let selectGroup = document.createElement('div')
  selectGroup.setAttribute('class', 'form-group')
  let selectGotoWifi = document.createElement('select')
  selectGroup.appendChild(selectGotoWifi)
  selectGotoWifi.setAttribute('class', 'form-control')
  wifis.map((wifiName) => {
    let wifi = document.createElement('option')
    wifi.text = wifiName
    wifi.value = wifiName
    selectGotoWifi.appendChild(wifi)
  })
  content.appendChild(selectGroup)
  content.appendChild(btn)
  btn.addEventListener('click',() => {
    cable.perform('update_from_wifi', { wifi: selectGotoWifi.value })
  })
}

function changeWifiNetwork({ userCount }, cable) {
  let wifis = ['eduroam', 'Junction', 'aalto open']
  let content = document.querySelector('#content')
  let btn = document.createElement('button')
  btn.setAttribute('class', 'btn btn-primary')
  btn.innerHTML = 'Send'
  addUserCount(content, userCount)

  content.innerHTML += '<p>In order to find you, we need ask you to change your WIFI network. Please select the network you want to connect to. Then change the network.</p>'
  let selectGroup = document.createElement('div')
  selectGroup.setAttribute('class', 'form-group')
  let selectGotoWifi = document.createElement('select')
  selectGroup.appendChild(selectGotoWifi)
  selectGotoWifi.setAttribute('class', 'form-control')
  wifis.map((wifiName) => {
    let wifi = document.createElement('option')
    wifi.text = wifiName
    wifi.value = wifiName
    selectGotoWifi.appendChild(wifi)
  })
  content.appendChild(selectGroup)
  content.appendChild(btn)
  btn.addEventListener('click',() => {
    cable.perform('update_to_wifi', { wifi: selectGotoWifi.value })
  })
}

function setFloor({ userCount }, cable) {
  let content = document.querySelector('#content')
  addUserCount(content, userCount)
  let floorIds = [2, 1, 0]

  content.innerHTML += '<p>Please tell us in which floor you are, this will help us to find you.</p>'
  floorIds.map((id) => {
    let btn = document.createElement('button')
    btn.setAttribute('class', 'btn btn-dark')
    btn.innerHTML = `<img src="/plans/${id}.png" width='100%'/>`
    let wrapper_row = document.createElement('div')
    let wrapper_col = document.createElement('div')
    wrapper_row.setAttribute('class', 'row')
    wrapper_col.setAttribute('class', 'col-md')
    wrapper_row.appendChild(wrapper_col)
    wrapper_col.appendChild(btn)
    content.appendChild(wrapper_row)
    btn.addEventListener('click', () => cable.perform('update_floor', { floor: id }))
  })
}

function setWait() {
  let content = document.querySelector('#content')
  content.innerHTML = '<h2>We are searching for you <div class="spinner-border" role="status"><span class="sr-only">Loading...</span></div></h2>'
}

function addUserCount(content, userCount) {
  content.innerHTML = '<h2>You could be one of ' + userCount + ' Users</h2>'
}
